apiVersion: v1
kind: ServiceAccount
metadata:
  name: imager-orchestrator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: imager-orchestrator
rules:
  - apiGroups: [""]
    resources: ["pods", "services"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["metrics.k8s.io"]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: imager-orchestrator
subjects:
  - kind: ServiceAccount
    name: imager-orchestrator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: imager-orchestrator
